<?xml version="1.0"?>
<configuration>
	<system.web>
    <httpRuntime maxRequestLength ="500000"/>
    <authentication mode="Forms">
      <forms name="f1">
        <credentials passwordFormat="Clear">
          <user name="Admin" password="Admin"/>
        </credentials>
      </forms>
    </authentication>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
